@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-gold: #C19B54;
  --color-gold-hover: #A88544;
  --color-dark: #1C1614;
  --color-dark-lighter: #261E1B;
  --color-light: #FAFAF8;
  
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  color: #333;
  background-color: var(--color-light);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
